body {
    margin: 50px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.gif {
    float: left;
    margin: 20px;
}

.gif-btn {
    color: #fff;
    background-color: #b16451;
    padding: 20px;
    margin: 20px 20px;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #474a75;
}

#add-gif {
    color: #fff;
    background-color: #6fb151;
    margin: 20px 0px;
    
}

